<form [formGroup]="salleForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Salle Name:</label>
    <input type="text" id="nom" formControlName="nom" />
    
  </div>

  <div>
    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="DISPONIBLE">Available</option>
      <option value="INDISPONIBLE">Unavailable</option>
      <option value="EN_MAINTENANCE">Under Maintenance</option>
    </select>
    <div >
      <small >Status is required.</small>
    </div>
  </div>

  <button type="submit" [disabled]="salleForm.invalid">Create Salle</button>
</form>
